@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Kurdish-Title';
	src: url('/fonts/kurdishTitle.ttf') format('truetype');
}
@font-face {
	font-family: 'Kurdish-Text';
	src: url('/fonts/kurdishText.ttf') format('truetype');
}
@font-face {
	font-family: 'Logo';
	src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}

::-webkit-scrollbar {
	width: 8px;
	height: 10px;
	background-color: #b3b0e8;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
}
.dark ::-webkit-scrollbar {
	width: 8px;
	height: 10px;
	background-color: #25234d;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb {
	background: #356fe1;
	box-shadow: 0px 0px 30px 5px #356fe1;
	width: 5px;
}

*,
body {
	font-family: 'Kurdish-Text', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

div[role='application'] {
	height: 300px !important;
}

@layer components {
	.btn-primary {
		@apply bg-primary-light text-main-light hover:bg-primary-dark dark:bg-primary-dark dark:hover:bg-primary-light dark:text-main-dark transition-colors duration-300;
	}
	.btn-secondary {
		@apply bg-secondary-light text-primary-dark hover:bg-secondary-dark dark:bg-secondary-dark dark:hover:bg-secondary-light dark:text-primary-light transition-colors duration-300;
	}
}



	.dark div[class="tox-editor-header"] button{
		background-color: #1d1d1d !important;
		border: none !important;
	}
	.dark div[class="tox-editor-container"]{
		background-color: #1d1d1d !important;
		color: white !important;
		border: none !important;
	}
	.dark div[class="tox-toolbar__group"] > button> span> svg{
		fill: white !important;
		border: none !important;
	}
	.dark div[class="tox-toolbar__group"] > button> span{
		color: white !important;
		border: none !important;
	}
	.dark div[role="group"]{
		background-color: #1d1d1d !important;
		border: none !important;
	}
	.dark div[class="tox-statusbar"] *{
		background-color: #1d1d1d !important;
		color: white !important;
		border: none !important;
	}
	.dark body[id="tinymce"] select{
		background-color: #1d1d1d !important;
	}